/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{

}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body div{
    width: 100%;
    height: 100vh;
}
#ticket{
    max-height: 600px;
    background-color: #ececec;
    box-shadow: 0 0 20px #888;
}
#ticket-header{
    max-height: 15%;
    background-color: #12477b;
}
#ticket-content{
    max-height: 80%;
    width: 100%;
    height: 100%;
}
#ticket-info, #ticket-info>div, #ticket-code{
    height: 100%;
}
#ticket-code img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ticket-footer{
    max-height: 5%;
    background-color: #d43a30;
}
.row div{
    height: auto;
}
.ct-flex-cont{
    display: flex;
    flex-wrap: wrap;
}
input[type="text"]:disabled, input[type="number"]:disabled{
    background-color: white;
}

/*****************************************************************/
/***************************** Media *****************************/
/**************************** Queries ****************************/
/*****************************************************************/
@media screen and (min-width: 768px){
    #ticket{
        max-height: 400px!important;
    }
    #ticket-header{
        max-height: 20%;
    }
    #ticket-content{
        max-height: 70%;
    }
    #ticket-footer{
        max-height: 10%;
    }
}